<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>All Samples</key>
	<array>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[&quot;Lmore&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:24:44Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[&quot;MLprofile&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:24:44Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:24:53Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[0].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:24:56Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().keys()[&quot;delete&quot;].touchAndHold(&quot;6&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:24:59Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString(&quot;firstname&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:05Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[1].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:07Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().keys()[&quot;delete&quot;].touchAndHold(&quot;4&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:08Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString(&quot;lastname&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:12Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[2].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().keys()[&quot;delete&quot;].touchAndHold(&quot;4&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:14Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString(&quot;ujjawal.1224@gmail.com&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:18Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[3].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().keys()[&quot;Delete&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().keys()[&quot;Delete&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().keyboard().typeString(&quot;75&quot;)</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:23Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().windows()[1].toolbar().buttons()[&quot;Done&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:29Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[4].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:30Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].groups()[0].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[2].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[2].scrollToVisible()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[5].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:34Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().tableViews()[0].cells()[1].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].textFields()[6].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:35Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().pickers()[0].wheels()[1].tapWithOptions({tapOffset:{x:&quot;0.44&quot;, y:&quot;0.48&quot;}})</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:36Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().toolbar().buttons()[&quot;Done&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[&quot;Save&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:37Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().scrollViews()[0].buttons()[0].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:46Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Default</string>
			<key>Message</key>
			<string>originalName: firstname nameCheck: firstname</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:51Z</date>
			<key>Type</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Pass</string>
			<key>Message</key>
			<string>Try: personal info. has passed.</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:51Z</date>
			<key>Type</key>
			<integer>5</integer>
		</dict>
		<dict>
			<key>LogType</key>
			<string>Debug</string>
			<key>Message</key>
			<string>target.frontMostApp().mainWindow().buttons()[&quot;Cancel&quot;].tap()</string>
			<key>Timestamp</key>
			<date>2016-01-07T11:25:51Z</date>
			<key>Type</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>version</key>
	<integer>2</integer>
</dict>
</plist>
